name: "go-example"

env:
  # Common versions
  GO_VERSION: '1.22'
  TZ: Asia/Shanghai

permissions: write-all

on:
  push:
    branches:
      - '*'

jobs:
  test:
    name: "test"
    timeout-minutes: 20
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
          check-latest: true
      - name: Login GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCRIO }}
      - name: install gox
        run: |
          echo "install gox"
          go install github.com/mitchellh/gox@latest
      - name: install task
        run: |
          echo "install task"
          go install github.com/go-task/task/v3/cmd/task@latest
      - name: build docker image
        run: |
          task docker
      - name: install kind
        uses: helm/kind-action@v1
      - name: install kubectl
        uses: azure/setup-kubectl@v4
      - name: deploy goexample
        run: |
          kubectl apply -f hack/deploy/k8s/deploy.yaml
          kubectl get pods,svc,ing -n ysicing-system
      # - uses: luchihoratiu/debug-via-ssh@main
      #   with:
      #     NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
      #     SSH_PASS: ${{ secrets.SSH_PASS }}
      #     NGROK_REGION: ap
      #     NGROK_TIMEOUT: 3600
